<div class="view-welcome intro-2">
  <div class="container">
    <div>
      <br/>
      <h2 style="color: white;" >
        Biranje recenzenata
      </h2>
      <h5 style="color: white;" >
        Neophodno je izabrati minimum 2 recenzenta!
      </h5>
    </div>
    <div style="margin-top: 5%; color:white;" class="form-group">
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>
        <div *ngFor="let field of formFields" >
          <label for={{field.id}}>{{field.label}}</label>
          <select name="{{field.id}}" multiple ngModel *ngIf="field.type.name=='enum' && field.id=='izborRecenzenata'">
            <option *ngFor="let category of reviewers" value={{category.id}}>
              {{category.firstName}} {{category.lastName}}
            </option>
          </select>
        </div>
        <button style="margin-left: 10%" class="btn btn-outline-light" type="submit">Potvrdi</button>
      </form>
    </div>
  </div>
</div>
