<div class="view-welcome intro-2">
  <div class="container">
    <div *ngIf="processIsFinished==true">
      <br/>
      <h2 style="color: white;" >
        Proces registracije je uspešno završen!
      </h2>
      <div *ngIf="loggedUser!=null" style="margin-top: 1%; margin-left: 7%" class="btn-group btn-group-lg" role="group" aria-label="...">
        <button style="margin-left: 4%" class="btn btn-dark" (click)="logOut()">Izloguj se</button>
      </div>
    </div>
    <div *ngIf="processIsFinished==false">
      <br/>
      <h2 style="color: white;" >
        Potvrđivanje statusa recenzenta
      </h2>
    </div>
    <div *ngIf="processIsFinished==false" style="margin-top: 5%; color:white;" class="form-group">
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>

        <div *ngFor="let field of formFields" >
          <label for={{field.id}}> {{field.label}} </label>
          <div>
            <input type="text" name={{field.id}} ngModel  *ngIf="field.type.name=='string'" >
            <input type="checkbox" name={{field.id}} ngModel  *ngIf="field.type.name=='boolean'">
            <input type="number" name={{field.id}} ngModel  *ngIf="field.type.name=='long'">
            <select name="field.id" *ngIf="field.type.name=='enum'">
              <option *ngFor="let val of enumValues" value={{val}}>
                {{field.type.values[val]}}
              </option>
            </select>
          </div>
        </div>
        <button style="margin-left: 10%" class="btn btn-outline-light" type="submit"> Submit </button>
      </form>
    </div>
  </div>
</div>
