.intro-2 {
  background: url("https://images8.alphacoders.com/988/thumb-1920-988880.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.view-welcome {
  height: 100vh !important;
}

.view {
  height: available;
}
