<div class="view-welcome intro-2">
  <div class="container">
    <div>
      <br/>
      <h2 style="color: white;" >
        Unos podataka o koautoru
      </h2>
    </div>
    <div style="margin-top: 5%; color:white;" class="form-group">
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>

        <div *ngFor="let field of formFields" >
          <label for={{field.id}}> {{field.label}} </label>
          <div>
            <input type="text" name={{field.id}} ngModel  *ngIf="field.type.name=='string'" >
            <input type="checkbox" name={{field.id}} ngModel  *ngIf="field.type.name=='boolean'">
            <input type="number" name={{field.id}} ngModel  *ngIf="field.type.name=='long'">
            <select name="field.id" *ngIf="field.type.name=='enum'">
              <option *ngFor="let val of enumValues" value={{val}}>
                {{field.type.values[val]}}
              </option>
            </select>
          </div>
        </div>
        <button style="margin-left: 10%" class="btn btn-outline-light" type="submit"> Potvrdi </button>
      </form>
    </div>
  </div>
</div>
